<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">	</script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <h1>Dream Vacations</h1>
</head>
<body>

	<h3>Spectacular Mountains</h3>
	<img src="http://www.w3schools.com/html/pic_mountain.jpg" alt="Mountain View" style="width:300px;height:240px">
		<p>Don't look down!</p>
		<br>
		<div class="container">
  		<button type="button" class="btn btn-primary">Learn more</button>
		</div
  <br>
  <br>

  <h3>Sunny Beach</h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_tQ9zCyMuPkqeaJTS8YIEDHObYyZbSCin2lMnZgi9O4hc3kC2MA" alt="Beach View" style="width:300px;height:240px">
  	<p>Pass another Corona, please.</p>
  <br>
  	<div class="container">
  		<button type="button" class="btn btn-primary">Learn more</button>
  	</div>
  	<br>
  	<br>
</body>
<footer>
<p>Take a long trip the next chance you get.</p>
<br>
<br>
</footer>
</html>