<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<link type="text/css" rel="stylesheet" href="../assets/stylesheets/pages.css.css" />-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">	</script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="mountains">
				<h2>Spectacular Mountains</h2>
				
				<br>
				<div class="container">
			  	<button type="button" class="btn btn-primary"><%= link_to('Learn more', about_path) %></button>
				</div>
			</div>
			</div>
	</div>
	<p>Don't look down!</p>
	<br>
	<br>
	<div class="beach">
		<h3>Sunny Beach</h3>
	  <p>Pass another Corona, please.</p>
	  <br>
  </div>
  <div class="container">
  	<button type="button" class="btn btn-primary"><%= link_to('Learn more', about_path) %></button>
  </div>
  <br>
  <br>
	</body>
	<footer>
		<p id="footer">Take a nice long trip every chance you get.</p>
	</footer>
	<br>
	<br>
</html>