<a id="simple-menu" href="#sidr" style="float:left">&nbsp;</a>
<div id="sidr">
  <ul>
    <li><a href="#"></a></li>
    <li class="active"><a href="/about">About</a></li>
    <li class="active"><a href="/home">Home</a></li>
    <li class="active"><a href="/signups/new">Sign up</a></li>
    <li class="active"><a href="/contact">Contact us</a></li>
  </ul>
</div>